:root {
  --greeen-color: #5f9341;
}

body {
  margin: 0;
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-width: 400px;
}
input {
  width: 100%;
  border: 2px solid var(--greeen-color);
  border-radius: 5px;
  /* height: 35px; */
  padding: 6px 10px 6px 10px;
  margin: 5px;
  font-size: large;
}
input:hover {
  border-bottom: 2px solid aqua;
}
input:focus {
  background-color: cadetblue;
}

button {
  color: white;
  font-weight: bold;
  letter-spacing: 0.7px;
  background-color: var(--greeen-color);
  border: 2px solid var(--greeen-color);
  margin-left: 5px;
  padding: 10px 20px;
  /* height: 35px;
  width: 125px; */
}

#delete-btn {
  color: var(--greeen-color);
  background-color: white;
}

button:hover {
  border-bottom: 3px solid aqua;
}

ul {
  padding: 0;
  margin: 15px 0 0 5px;
  font-size: large;
  list-style: none;
}

li {
  margin-top: 3px;
}

li a {
  color: var(--greeen-color);
}
